.cmake/
CMakeCache.txt
CMakeCache.txt.prev
CMakeFiles/
CMakeLists.txt.user
Makefile
Testing/
cmake_install.cmake
matModelKA
matModelKA_autogen/
qtcsettings.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
example.db
mathDataBase.db
MathModelOld.cpp
MathModelOld.h

